body{
  width: 50%;
  margin: auto;
  padding: auto;
  border: 1px solid black;
  font-size: 0.8rem;
}
.container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
  margin: auto;
  padding: auto;
  
  
}
.team{
  
  
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(2, 10em);
  grid-gap: 10px;
  grid-auto-flow: row;
  grid-auto-rows: 100%;
  margin: 2% 0 2% 0px;
  
  
 
  
}
.team_number{
  width: 50%;
}
.team_player{
 margin-left: -50%;
 margin-right: 50%;
  
}
#random{
  margin-left: 25%;
  width: 50%;
  border: 1px solid black;
  border-radius: 50px ;
  padding: 10px 1px ;
  
}